# extensions
*.o 
*.lo 
*.la 
*.in 
*/*.o 
*/*.lo 
*/*.la
*.log
*/*.log
*~

# exe files
src/main
tests/check_fpanr 

# generated makefiles
Makefile
src/Makefile
tests/Makefile

# dirs 
autom4te.cache
.externalToolBuilders
.settings
m4
src/.deps 
src/.libs
tests/.deps 
tests/.libs

# various files 
.cproject 
.project 
aclocal.m4
config.h
config.status
configure
install-sh
missing
ar-lib 
compile 
config.guess 
config.sub 
configure.scan
depcomp
libtool
ltmain.sh
stamp-h1 
test-driver  
tests/check_fpanr.trs

