.cproject
.project
.settings/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
stamp-h1
tree.txt
tree2.txt

